<div class="row">
    <div class="col-12 col-md-3" *ngFor="let user of userService.usersList | searchFiltter: userService.searchValue">
        <div class="user">
            <div class="avatar">
                <div class="img">
                    <img src="{{user?.avatar}}"/>
                </div>
                <div class="details">
                    <p> First Name : <span>{{user?.first_name}}</span></p><br>
                    <p> Last Name : <span> {{user?.last_name}} </span></p>
                </div>
            </div>
            <span>Email : {{user?.email}}</span>
            <button mat-button (click)="openDialog(user)"><img class="edit" src="../../../assets/75476-2019-02-08-edit-icon-png-small-11563142463qiwrzqx0e1.png" style="width: 70%" /></button>
            <button (click)="onhandelDelete(user.id)" class="delete"><img src="../../../assets/delete.svg" /></button>
        </div>
    </div>
</div>
